.App {
  text-align: center;
  background-color: #EEE;
  color: #000;
  min-height: 100vh;
  display: block;
  position: relative;
  top: 0;
  bottom: 0;
  font-size: calc(10px + 2vmin);
  overflow: auto;
  width: 100%;
}

h2, h3 {
  margin: 0;
  padding: 0.83em 0;
}

a {
  color: #1E90FF;
}

.no-suggestions {
  padding: 0.5rem;
}

.suggestions {
  border: 1px solid #000;
  border-radius: 0px;
  border-top-width: 0;
  list-style: none;
  padding-left: 0;
  width: calc(35% + 5rem);
  background-color: #EEE;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
}

.suggestions li {
  padding: 0.5rem;
}

.suggestion-active,
.suggestions li:hover {
  background-color: #1E90FF;
  color: white;
  cursor: pointer;
  font-weight: 700;
}

.suggestions li:not(:last-of-type) {
  border-bottom: 1px solid #000;
}

.suggestion-description, .suggestion-description-active {
  display: block;
  font-size: calc(5px + 2vmin);
  font-weight: normal;
}

input, button {
  font-size: calc(10px + 2vmin);
  padding: 0.5em;
  border: 2px solid #000;
  background-color: #FFF;
  border-radius: 6px;
  color: #000;
  font-weight: normal;
  height: fit-content;
  -webkit-appearance: none;
}

.Main-input {
  width: calc(25% + 2rem);
}

.Main-submit, .Share-button {
  width: calc(10% + 2rem);
  cursor: pointer;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 2px dotted #000;
  cursor: pointer;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 200px;
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
}

.tooltiptext {
  left: -75px;
  top: 25px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

table {
  width: 80%;
  padding: 2%;
  margin: auto;
  font-size: calc(10px + 2vmin);
  margin-bottom: 5%;

}

@media only screen and (max-width: 680px) {
  .App, input, button, table {
    font-size: 1rem;
  }

  .suggestion-description, .suggestion-description-active {
    font-size: 0.9rem;
  }

  table {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }

  th, th > .tooltip, .table-header-innertext {
    writing-mode: vertical-rl;
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: vertical-rl;
  }

  th > .tooltip > .tooltiptext {
    writing-mode: horizontal-tb;
    -webkit-writing-mode: horizontal-tb;
    -ms-writing-mode: horizontal-tb;
  }

  .tooltip .tooltiptext {
    width: fit-content;

    /* Center without knowing the width */
    left: 50%;
    top: 20px;
    transform: translateX(-50%);
  }
}

.emoji-icon {
  height: 1em;
  width: 1em;
}
